
<ion-header [translucent]="true">
  <ion-toolbar class="app-toolbar">
    <ion-title class="app-title">
      <div class="title-container">
        <span class="main-title">To Do List</span>
        <span class="subtitle">Organiza tus tareas fácilmente</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">

    @if (showCategories) {

    <ion-card class="card">

      <ion-card-header>
        <ion-card-title>Categorías</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <form [formGroup]="categoryForm">

          <ion-item lines="full">
            <ion-input
              placeholder="Nueva categoría"
              formControlName="name">
            </ion-input>
          </ion-item>

          <ion-button
            expand="block"
            color="secondary"
            class="btn"
            [disabled]="categoryForm.invalid"
            (click)="addCategory()">

            Crear categoría

          </ion-button>

          <!-- LISTA CATEGORÍAS -->

          <ion-list>

            @for (category of categories; track category.id) {

    <ion-item>
      <ion-label>
        <h2>{{ category.name }}</h2>
      </ion-label>

      <ion-button fill="outline" size="small" color="warning" slot="end" (click)="editCategory(category)">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>

      <ion-button fill="outline" size="small" color="danger" slot="end" (click)="deleteCategory(category.id)">
        <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
      </ion-button>
    </ion-item>

    }

    </ion-list>

  </form>

</ion-card-content>

</ion-card>

    }

    <!-- NUEVA TAREA -->

    <ion-card class="card">

      <ion-card-header>
        <ion-card-title>Nueva tarea</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <form [formGroup]="taskForm">

          <ion-item lines="full">
            <ion-input placeholder="Escribe una tarea..." formControlName="title"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-select placeholder="Selecciona categoría" formControlName="categoryId">
              <ion-select-option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button expand="block" color="secondary" class="btn ion-activatable ripple-parent" [disabled]="taskForm.invalid" (click)="addTask()">
            <ion-ripple-effect></ion-ripple-effect>
            Agregar tarea
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>


    <ion-card class="card">

      <ion-card-header>
        <ion-card-title>Filtrar tareas</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-select placeholder="Ver por categoría" (ionChange)="filterTasks($event.detail.value)">
          <ion-select-option value="">Todas</ion-select-option>
          <ion-select-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </ion-select-option>
        </ion-select>
      </ion-card-content>
    </ion-card>


    <ion-card class="card">

      <ion-card-header>
        <ion-card-title>Tareas</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list lines="none">

          <ion-item class="task-item" [class.task-completed]="task.completed" *ngFor="let task of tasks; trackBy: trackByTaskId">

            <ion-checkbox slot="start" [checked]="task.completed" (ionChange)="toggleTask(task.id)"></ion-checkbox>

            <ion-label>
              <h2 [class.done]="task.completed">
                {{ task.title }}
              </h2>
              <ion-chip color="primary" outline="true">
                {{ getCategoryName(task.categoryId) }}
              </ion-chip>
              @if (task.completed) {
              <div class="completed-badge">
                Tarea completada
              </div>

              }
            </ion-label>
            <ion-button fill="outline" size="small" color="danger" slot="end" (click)="deleteTask(task.id)">
              <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
