ion-toolbar {
  --background: #3880ff;
  --color: white;
}

.input-container {
  padding: 16px;

  ion-button {
    margin-top: 8px;
  }
}

ion-segment {
  margin: 0 16px 8px 16px;
}

.tachado {
  text-decoration: line-through;
  color: #aaa;
}

.empty {
  text-align: center;
  margin-top: 60px;
  color: #aaa;

  ion-icon {
    font-size: 60px;
  }

  p {
    font-size: 16px;
  }
}
